body {
    background-color: #f9f7fe;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    color: #885df1;
}
.my-temperature-app {
background: white;
max-width: 600px;
margin: 45px auto;
box-shadow: 0 30px 50px rgba(65,50,100,0.08);
border-radius: 16px;
padding: 30px;
}
header {
    border-bottom: 1px solid #f9f7fe;
}
.search-form-input {
    background-color: #f9f7fe;
    border: none;
    border-radius: 6px;
    width: 75%;
    font-size: 16px;
    padding: 15px 20px;
}
.search-form-button {
    background: #885df1;
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    margin-left: 5px;
    border-radius: 6px;
    color: white;
}
main {
    padding: 30px 0;
}
.my-temperature-app-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.my-temperature-app-city {
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}
li.my-temperature-app-details {
    font-size: 16px;
    color: rgba(39, 33, 66, 0.4);
    line-height: 24px;
    font-weight: 500;
    list-style: none;
    margin-left: -40px;
}
.my-temperature-app-details strong {
    color: #f65282;
}

.my-temperature-app-temperature {
    display: flex;
    justify-content: right;
    font-size: 88px;
    margin-right: 15px;
    font-weight: bold;
    margin-top: -150px;

}

.my-temperature-app-icon {
   width: 88px;
   height: 88px;
    
    
}
.my-temperature-app-unit {
    margin-top: 6px;
    font-size: 28px;
}

.weather-forecast {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.weather-forecast-date {
    text-align: center;
    color: rgba(39,33,66,.4);
    font-size: 16px;
    line-height: 20px;  
    margin-bottom: 10px;  
}

.weather-forecast-icon {
font-size: 38px;
text-align: center;
}

.weather-forecast-temperatures {
    text-align: center;
    color: #f65282;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.weather-forecast-temperature {
    padding: 0 10px;
}
footer {
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    color: rgba (0,0,0,0.6);
}